@{
    ViewBag.Title = "Index";
}

    <form>
        <div id="wrapper">
            <div id="banner">
                <div id="selector-theme">
                    <ul>
                        <li id="to-green"></li>
                        <li id="to-red"></li>
                        <li id="to-blue"></li>
                        <li id="to-yellow"></li>
                        <li id="to-k"></li>
                    </ul>
                    
                </div>


            </div>
            <nav id="navigation">
                <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">SOBRE MI</a></li>
                    </ul>
            </nav>
            <div id="content_area">
                <div id="slider">
                    <div class="galeria">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                <div id="about">
     
                </div>
            </div>

        </div>
    </form>
